# Mac
.DS_Store

# Latex
report.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
.latexmkrc
_minted-*

# nnUNet
nnUNet_preprocessed
nnUNet_raw
debug.json
training_log_*
*.nii.gz

# Python
__pycache__